@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: #A8B5B2;
		font-family: 'Quicksand', sans-serif;
	}

	a[href] {
		@apply text-blue-200 hover:text-blue-500;
	}

	input[type='text'] {
		@apply border rounded py-1 px-2 outline-blue-400
            focus-visible:outline;
	}

	button {
		@apply text-white bg-slate-500 border rounded py-1 px-2
            hover:bg-slate-700;
	}
}

@layer components {
	.bm-page-title {
		@apply text-2xl;
	}
}

@layer utilities {
	.pixelated {
		image-rendering: pixelated;
	}
}
