@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: rgb(51 65 85);
		font-family: 'Quicksand', sans-serif;
	}

	input[type='text'] {
		@apply border rounded py-1 px-2 outline-blue-400
            focus-visible:outline;
	}

	button,
	a:where([href]) {
		@apply text-white bg-slate-500 border rounded py-1 px-2
            hover:bg-slate-700 text-center;
	}
}

@layer components {
	.container {
		@apply w-full max-w-screen-lg mx-auto;
	}
}

@layer utilities {
	.pixelated {
		image-rendering: pixelated;
	}
}
